<div class="ui grid container" *ngIf="tutoring">
  <div class="two wide column">
    <button [routerLink]="'/tutorings'" class="ui right floated purple button">Zurück zur Liste</button>
  </div>
  <div class="fourteen wide column">
    <h1 class="ui header">{{ tutoring.subject }}</h1>
    <div class="description">
      Description: {{ tutoring.description }}
    </div>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="ten wide column">
        <h4 class="ui header">Offer Dates</h4>
        <div class="description">Select date and book your tutoring</div>
        <form [formGroup]="bookingForm" (ngsubmit)="bookTutoring()">
        <table class="ui purple striped table">
          <thead>
          <tr>
            <th class="one wide" *ngIf="isLoggedIn()"></th>
            <th>Date</th>
            <th>Status</th>
          </tr></thead>
          <tbody>
          <tr *ngFor="let tutoringdate of tutoring?.tutoringdates;">
            <td *ngIf="isLoggedIn()"><input type="radio" name="tutoringdate" value="{{tutoringdate.id}}"></td>
            <td data-label="tutoringdate">{{tutoringdate.tutoringdate}}</td>
            <td data-label="tutoringstatus">
              <span *ngIf="tutoringdate.booked; else dateopen">Booked</span>
              <ng-template #dateopen>Open</ng-template>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="ui green button" type="submit" *ngIf="isLoggedIn()">
          <i class="check icon"></i>Book Tutoring
        </button>
          <button *ngIf="authService.isLoggedIn()" class="ui red labeled icon button" (click)="removeTutoring()">
            <i class="remove icon"></i>Delete Tutoring
          </button>
          <a *ngIf="authService.isLoggedIn()" class="ui yellow labeled icon button" [routerLink]="['../../admin', tutoring?.id]">
            <i class="write icon"></i>Edit Tutoring
          </a>
        </form>
      </div>
  </div>
    <div *ngIf="isLoggedIn()">
    <div class="ui divider"></div>
    <h4 class="ui header">Comments to Offer</h4>
    <span class="description" *ngIf="tutoring.tutoringcomments && tutoring.tutoringcomments.length==0">
      No comments for this tutoring offer!
    </span>
    <div class="ui middle aligned divided list">
      <div class="item">
        <i class="comment icon" *ngIf="tutoring.tutoringcomments && tutoring.tutoringcomments.length>0"></i>
        <div class="content">
          <span *ngFor="let tutoringcomment of tutoring?.tutoringcomments; last as l">
            {{tutoringcomment.comment}}
          </span>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
