<div class="ui grid container" *ngIf="tutoring">
  <div class="two wide column">
    <button [routerLink]="'/tutorings'" class="ui right floated purple button">Zurück zur Liste</button>
  </div>
  <div class="fourteen wide column">
    <h1 class="ui header">{{ tutoring.subject }}</h1>
    <div class="description">
      Description: {{ tutoring.description }}
    </div>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="ten wide column">
        <h4 class="ui header">Offer Dates</h4>
        <div class="description">
          Select date and book your tutoring - If there are no dates available, the table will appear empty! <br>
          Booking an offer means, you book only one hour, if you want more hours please comment or book more dates.
        </div>
        <table class="ui purple striped table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th *ngIf="isLoggedIn()"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tutoringdate of tutoring?.tutoringdates">
              <td data-label="tutoringdate" *ngIf="!tutoringdate.accepted">{{tutoringdate.tutoringdate}}</td>
              <td data-label="tutoringstatus" *ngIf="!tutoringdate.accepted">
                <span *ngIf="tutoringdate.booked; else dateopen">Booked</span>
                <ng-template #dateopen>Open</ng-template>
              </td>
              <td>
                <button class="small ui green labeled icon button " *ngIf="isLoggedIn() && !tutoringdate.accepted" (click)="bookTutoring(tutoringdate.id)">
                  <i class="check icon"></i>Book Tutoring
                </button>
              </td>
            </tr>
          </tbody>
        </table>
          <button *ngIf="authService.isLoggedIn() && us.isTutorLoggedIn()" class="ui red labeled icon button" (click)="removeTutoring()">
            <i class="remove icon"></i>Delete Tutoring
          </button>
          <a *ngIf="authService.isLoggedIn() && us.isTutorLoggedIn()" class="ui yellow labeled icon button" [routerLink]="['../../admin', tutoring?.id]">
            <i class="write icon"></i>Edit Tutoring
          </a>
<!--        </form>-->
      </div>
  </div>
    <div *ngIf="isLoggedIn() && us.isTutorLoggedIn()">
    <div class="ui divider"></div>
    <h4 class="ui header">Comments to Offer</h4>
    <span class="description" *ngIf="tutoring.tutoringcomments && tutoring.tutoringcomments.length==0">
      No comments for this tutoring offer!
    </span>
    <div class="ui middle aligned divided list">
      <div class="item">
        <i class="comment icon" *ngIf="tutoring.tutoringcomments && tutoring.tutoringcomments.length>0"></i>
        <div class="content">
          <span *ngFor="let tutoringcomment of tutoring?.tutoringcomments; last as l">
            {{tutoringcomment.comment}}
          </span>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
